<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil Kania</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="poto-profil">
    <img src="../../assets/img/kania.jpeg" class="profile-image">
  </div>
  
  
  <ion-card-header>
    <ion-card-title>Nurfaiza Kania Azzahra</ion-card-title>
    <h3>Mahasiswa</h3>    
    <p>Instagram: <a href="https://instagram.com/kniaazahra?igshid=MzRlODBiNWFlZA==">@kniaazahra</a></p>
    <p>Tiktok: <a href="https://www.tiktok.com/@kaniazhraa?_t=8g7ENuz5PDG&_r=1">@kaniazhraa</a></p>    
  
  </ion-card-header>
  
  
</ion-content>
